<%= render :partial => 'includes/header' %>
<%= render :partial => 'includes/nav' %>
		<% @banner = @website.active_in_position('bannerPosition-1') %>
		<% if @banner > 1 %>
			<div class="slider-container">
				<div class="owl-carousel hero">
					<% @banner.try(:each) do |banner| %>
						<div class="item">
						   <% if banner.new_window %>
							<% target = "_blank" %>
						   <% else %>
							<% target = "_self" %>
						   <% end %>
						   <%= link_to image_tag(banner.media_url, :class => "img-responsive", :data => { :u => "image"}, :alt => banner.img_desc), banner.url, target: "#{target}" %>
							<div class="text-container">
								<h1>new location - opening soon</h1>
								<h2><%= banner.overlay_text_1 %></h2>
								<a href="" class="slider-btn">view this location</a>
							</div>
						</div>
					<% end %>
				</div>
			</div>
			<script>
				$(document).ready(function(){
					heroOwl = $('.hero');
					heroOwl.owlCarousel({
						items: 1,
						margin: 0,
						nav: false,
						dots: false,
						loop: true,
						center: false,
						autoplay:4000,
						smartSpeed:2050,
						autoplayHoverPause: true
					});
				});
			</script>
		<% else %>
			<div class="slider-container">
				<div class="owl-carousel hero">
					<% @banner.try(:each) do |banner| %>
						<div class="item">
						   <% if banner.new_window %>
							<% target = "_blank" %>
						   <% else %>
							<% target = "_self" %>
						   <% end %>
						   <%= link_to image_tag(banner.media_url, :class => "img-responsive", :data => { :u => "image"}, :alt => banner.img_desc), banner.url, target: "#{target}" %>
							<div class="text-container">
								<h1>new location - opening soon</h1>
								<h2><%= banner.overlay_text_1 %></h2>
								<a href="" class="slider-btn">view this location</a>
							</div>
						</div>
					<% end %>
				</div>
			</div>
		<% end %>
		
		<div class="container-fluid">
			<div class="mod-container callout-container">
				<div class="col-xs-12 col-md-4">
					<a href="">
						<div class="callout">
							<img src="images/callout-1.jpg" class="callout-img">
							<h2 class="title">View Our Menu</h2>
							<p class="desc">Everything is super fresh and super fast <span class="fa fa-long-arrow-right"></span></p>
						</div>
					</a>
				</div>
				<div class="col-xs-12 col-md-4">
					<a href="">
						<div class="callout">
							<img src="images/callout-2.jpg" class="callout-img">
							<h2 class="title">Our Locations</h2>
							<p class="desc">We have locations throught Central Iowa <span class="fa fa-long-arrow-right"></span></p>
						</div>
					</a>
				</div>
				<div class="col-xs-12 col-md-4">
					<a href="">
						<div class="callout">
							<img src="images/callout-3.jpg" class="callout-img">
							<h2 class="title">Now Hiring</h2>
							<p class="desc">We need great people to join our team <span class="fa fa-long-arrow-right"></span></p>
						</div>
					</a>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		
		<div class="mod-container">
			<div class="double-yellow"></div>
		</div>
		
		<div class="container-fluid seo-container">
			<div class="mod-container">
				<div class="col-xs-12 col-md-4 graphic">
					<img src="images/seo-img.jpg" class="img-responsive">
				</div>
				<div class="col-xs-12 col-md-8">
					<h2>Now B-Bop's is More Than Just Drive-Thru</h2>
					<p>You may know B-Bop's as a drive-thru restaurant, but now we have multiple dine-in locations as well. At B-Bop's, you can either roll down your windows and enjoy the carefree music of an era gone by or sit in our retro dining area to be surrounded by a golden era. The wait is never very long at B-Bop's, so you probably won't even get to hear more than a song or two. We have drive-thru windows to serve you your food super fast. You'll be greeted by someone cheerful that will accept payment, which is always easy on your wallet, and send you on your way with your hot, fresh food. We have locations throughout Central Iowa, including the Des Moines area, Ankeny, and Ames.</p>
					<h4><a href="">Learn More <span class="fa fa-long-arrow-right"></span></a></h4>
				</div>
			</div>
		</div>
		
<%= render :partial => 'includes/footer' %>
