<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
	<meta property="og:url"           content="b-bops.com" />
  	<meta property="og:type"          content="website" />
  	<meta property="og:title"         content="<%= @webpage.page_title %>" />
  	<meta property="og:description"   content="<%= @webpage.meta_key %>" />
  	<meta property="og:image"         content="" />
  	<meta name="twitter:card" content="summary" />
  	<meta name="twitter:title" content="<%= @webpage.page_title %>" />
  	<meta name="twitter:description" content="<%= @webpage.meta_key %>" />
  	<meta name="twitter:image" content="" />
	<!--<title><%= @website.name %> <%#= page_title %> <% if !@webpage.meta_key.blank? %> | <%= @webpage.meta_key %><% end %></title>-->
	<title>B-Bop's</title>
	<!--[if lt IE 9]>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
	<![endif]-->
	<script src="js/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed" rel="stylesheet"> 
	<link rel="stylesheet" type="text/css" href="css/bootstrap/css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/owl.carousel.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	
	<!-- google analytics code for website -->
  	<!--<% if !@website.web_analytics_id.blank? %> -->
  	<script>

	 	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	 	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	 	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	 	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	 	//ga('create', '<%= @website.web_analytics_id %>', 'auto');
	 	ga('send', 'pageview');

	</script>
  	<!--<% end %>-->
  	<!-- GA code for webpage ends -->
   	<!-- Full Tracking code for website -->
  	<!--<% if !@website.full_website_code.blank? %>-->
   	<!--<%= @website.full_website_code.html_safe %>-->
  	<!-- Full Tracking code for website ENDS -->
  	<!--<% end %>-->
  	<!-- Full Tracking code for webpage -->
  	<!--<% if !@webpage.full_tracking_code.blank? %>-->
   	<!--<%= @webpage.full_tracking_code.html_safe %>-->
  	<!-- Full Tracking code for webpage ENDS -->
  	<!--<% end %>-->
</head>

<body>
	<div class="site-wrapper">
		<div class="container-fluid main-nav">
			<div class="notes-container"></div>
			<ul>
				<li><a href="">menu/nutrition</a></li>
				<li><a href="">locations</a></li>
				<li><a href="">jobs</a></li>
				<li class="logo-img"><a href=""><img src="images/logo.png" class="logo"></a></li>
				<li><a href="">about us</a></li>
				<li><a href="">gift cards &amp; gear</a></li>
				<li><a href="">contact us</a></li>
			</ul>
		</div>
		
		<div class="mobi-nav">
			<div class="notes-container"></div>
			<a href=""><img src="images/logo.png" class="logo"></a>
			<div class="menu-btn-container">
				<div id="top-bar"></div>
				<div id="mid-bar"></div>
				<div id="low-bar"></div>
				<p>menu</p>
			</div>
		</div>
		
		<div class="mobi-menu">
			<a href=""><p>home</p></a>
			<a href=""><p>menu/nutrition</p></a>
			<a href=""><p>locations</p></a>
			<a href=""><p>jobs</p></a>
			<a href=""><p>about us</p></a>
			<a href=""><p>gift cards &amp; gear</p></a>
			<a href=""><p>contact us</p></a>
			<a href=""><p>home</p></a>
		</div>
		
		<script>
			$(document).ready(function(){
				$('.logo').on('mouseover', function(){
					$('.logo').addClass('logoDance');
				});
				$('.logo').on('mouseout', function(){
					$('.logo').removeClass('logoDance');
				});
				mobiBtn();
			});
			function mobiBtn(){
				var isClicked = 0;
				$('.menu-btn-container').click(function(){
					if(isClicked==0){
						isClicked++;
						$('#top-bar').removeClass('topUp');
						$('#top-bar').addClass('topDown');
						$('#low-bar').removeClass('lowDown');
						$('#low-bar').addClass('lowUp');
						$('#mid-bar').addClass('hideBar');
						showMenu();
					}else{
						isClicked--;
						$('#top-bar').removeClass('topDown');
						$('#top-bar').addClass('topUp');
						$('#low-bar').removeClass('lowUp');
						$('#low-bar').addClass('lowDown');
						$('#mid-bar').removeClass('hideBar');
						hideMenu();
					}
				});
			}
			function showMenu(){
				$('.mobi-menu').slideDown(500);
				$('.mobi-nav').css({'position':'fixed'});
			}
			function hideMenu(){
				$('.mobi-menu').slideUp(500);
				$('.mobi-nav').css({'position':'relative'});
			}
		</script>

		<div class="body-container">
			<div class="sub-hero-container">
				<img src="images/sub-hero.jpg" class="sub-hero">
			</div>
			<div class="sub-body mod-container">
				<div class="col-xs-12 text-center">
					<h1>Menu / Nutrition</h1>
				</div>
				<div class="col-xs-12 text-center toggle-links-container">
					<div class="toggle-links">
						<ul>
							<li class="toggle active" data-view="sandwiches" data-section="sandwiches">sandwiches</li>
							<li class="toggle" data-view="specialties" data-section="specialties">specialties</li>
							<li class="toggle" data-view="sides & extras" data-section="sides">sides &amp; extras</li>
							<li class="toggle" data-view="drinks" data-section="drinks">drinks</li>
						</ul>
					</div>
				</div>
				<div class="clearfix"></div>
				<script>
					$(document).ready(function(){
						$('.toggle').click(function(){
							var view = $(this).data('view');
							var section = $(this).data('section');
							$('.toggle-title').text(view);
							$(this).addClass('active');
							$(this).siblings().removeClass('active');
							$('.'+section).removeClass('hide');
							$('.'+section).siblings().addClass('hide');
						});
					});
				</script>
				<div class="toggle-body">
					<p>View all of B-Bop's fresh and fast menu items available and click on each to see nutritional information.</p>
					<h2><span class="toggle-title">sandwiches</span></h2>
					<div class="toggle-section">
						<div class="sandwiches">
							<div class="col-xs-12 col-sm-6 col-md-4 menu-item">
								<a href="">
									<img src="images/burgers/burger-1.jpg" class="img-responsive">
									<h3>1/4 Lb. Hamburger <span class="fa fa-long-arrow-right"></span></h3>
								</a>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-4 menu-item">
								<a href="">
									<img src="images/burgers/burger-2.jpg" class="img-responsive">
									<h3>1/4 Lb. Hamburger <span class="fa fa-long-arrow-right"></span></h3>
								</a>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-4 menu-item">
								<a href="">
									<img src="images/burgers/burger-3.jpg" class="img-responsive">
									<h3>1/4 Lb. Hamburger <span class="fa fa-long-arrow-right"></span></h3>
								</a>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-4 menu-item">
								<a href="">
									<img src="images/burgers/burger-4.jpg" class="img-responsive">
									<h3>1/4 Lb. Hamburger <span class="fa fa-long-arrow-right"></span></h3>
								</a>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-4 menu-item">
								<a href="">
									<img src="images/burgers/burger-5.jpg" class="img-responsive">
									<h3>1/4 Lb. Hamburger <span class="fa fa-long-arrow-right"></span></h3>
								</a>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-4 menu-item">
								<a href="">
									<img src="images/burgers/burger-6.jpg" class="img-responsive">
									<h3>1/4 Lb. Hamburger <span class="fa fa-long-arrow-right"></span></h3>
								</a>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-4 menu-item">
								<a href="">
									<img src="images/burgers/burger-1.jpg" class="img-responsive">
									<h3>1/4 Lb. Hamburger <span class="fa fa-long-arrow-right"></span></h3>
								</a>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-4 menu-item">
								<a href="">
									<img src="images/burgers/burger-2.jpg" class="img-responsive">
									<h3>1/4 Lb. Hamburger <span class="fa fa-long-arrow-right"></span></h3>
								</a>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-4 menu-item">
								<a href="">
									<img src="images/burgers/burger-3.jpg" class="img-responsive">
									<h3>1/4 Lb. Hamburger <span class="fa fa-long-arrow-right"></span></h3>
								</a>
							</div>
						</div>
						<div class="hide specialties">
							Specialties section
						</div>
						<div class="hide sides">
							Sides &amp; Extras
						</div>
						<div class="hide drinks">
							Drinks
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
		
		<div class="clearfix"></div>
		
		<div class="footer-container container-fluid">
			<div class="double-red">
				<div class="double-black">
					<div class="single-yellow"></div>
				</div>
			</div>
			<div class="social-container">
				<ul>
					<li><a href=""><span class="fa fa-facebook-official"></span></a></li>
					<li><a href=""><span class="fa fa-twitter"></span></a></li>
					<li><a href=""><span class="fa fa-youtube"></span></a></li>
					<li><a href=""><span class="fa fa-instagram"></span></a></li>
				</ul>
			</div>
			<div class="footer-nav">
				<ul>
					<li><a href="">menu/nutrition</a></li>
					<li><a href="">locations</a></li>
					<li><a href="">jobs</a></li>
					<li><a href="">about us</a></li>
					<li><a href="">gift cards &amp; gear</a></li>
					<li><a href="">contact us</a></li>
					<li><a href="">privacy policy</a></li>
				</ul>
			</div>
			<div class="footer-copy">
				&copy;2017 B-Bop's Inc. All rights reserved.
			</div>
		</div>
		
		<script>
			$(document).ready(function(){
				var didScroll;
				var lastScrollTop = 0;
				var delta = 5;
				var navbarHeight = $('.main-nav').outerHeight()+50;
				var winWidth = $(window).width();
				if(winWidth<992){
					var theNav = $('.mobi-nav');
				}else{
					var theNav = $('.main-nav');
				}

				$(window).scroll(function(event){
					didScroll = true;
				});

				setInterval(function() {
					if (didScroll) {
						hasScrolled();
						didScroll = false;
					}
				}, 250);

				function hasScrolled() {
					var st = $(this).scrollTop();

					// Make sure they scroll more than delta
					if(Math.abs(lastScrollTop - st) <= delta)
						return;

					// If they scrolled down and are past the navbar, add class .nav-up.
					// This is necessary so you never see what is "behind" the navbar.
					if (st > lastScrollTop && st > navbarHeight){
						// Scroll Down
						$(theNav).removeClass('nav-down').addClass('nav-up');
					} else {
						// Scroll Up
						if(st + $(window).height() < $(document).height()) {
							$(theNav).removeClass('nav-up').addClass('nav-down');
						}
					}

					lastScrollTop = st;
				}
			});
		</script>
	</div>
</body>
</html>