<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
	<meta property="og:url"           content="b-bops.com" />
  	<meta property="og:type"          content="website" />
  	<meta property="og:title"         content="<%= @webpage.page_title %>" />
  	<meta property="og:description"   content="<%= @webpage.meta_key %>" />
  	<meta property="og:image"         content="" />
  	<meta name="twitter:card" content="summary" />
  	<meta name="twitter:title" content="<%= @webpage.page_title %>" />
  	<meta name="twitter:description" content="<%= @webpage.meta_key %>" />
  	<meta name="twitter:image" content="" />
	<!--<title><%= @website.name %> <%#= page_title %> <% if !@webpage.meta_key.blank? %> | <%= @webpage.meta_key %><% end %></title>-->
	<title>B-Bop's</title>
	<!--[if lt IE 9]>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
	<![endif]-->
	<script src="js/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed" rel="stylesheet"> 
	<link rel="stylesheet" type="text/css" href="css/bootstrap/css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/owl.carousel.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	
	<!-- google analytics code for website -->
  	<!--<% if !@website.web_analytics_id.blank? %> -->
  	<script>

	 	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	 	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	 	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	 	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	 	//ga('create', '<%= @website.web_analytics_id %>', 'auto');
	 	ga('send', 'pageview');

	</script>
  	<!--<% end %>-->
  	<!-- GA code for webpage ends -->
   	<!-- Full Tracking code for website -->
  	<!--<% if !@website.full_website_code.blank? %>-->
   	<!--<%= @website.full_website_code.html_safe %>-->
  	<!-- Full Tracking code for website ENDS -->
  	<!--<% end %>-->
  	<!-- Full Tracking code for webpage -->
  	<!--<% if !@webpage.full_tracking_code.blank? %>-->
   	<!--<%= @webpage.full_tracking_code.html_safe %>-->
  	<!-- Full Tracking code for webpage ENDS -->
  	<!--<% end %>-->
</head>

<body>
	<div class="site-wrapper">
		<div class="container-fluid main-nav">
			<div class="notes-container"></div>
			<ul>
				<li><a href="">menu/nutrition</a></li>
				<li><a href="">locations</a></li>
				<li><a href="">jobs</a></li>
				<li class="logo-img"><a href=""><img src="images/logo.png" class="logo"></a></li>
				<li><a href="">about us</a></li>
				<li><a href="">gift cards &amp; gear</a></li>
				<li><a href="">contact us</a></li>
			</ul>
		</div>
		
		<div class="mobi-nav">
			<div class="notes-container"></div>
			<a href=""><img src="images/logo.png" class="logo"></a>
			<div class="menu-btn-container">
				<div id="top-bar"></div>
				<div id="mid-bar"></div>
				<div id="low-bar"></div>
				<p>menu</p>
			</div>
		</div>
		
		<div class="mobi-menu">
			<a href=""><p>home</p></a>
			<a href=""><p>menu/nutrition</p></a>
			<a href=""><p>locations</p></a>
			<a href=""><p>jobs</p></a>
			<a href=""><p>about us</p></a>
			<a href=""><p>gift cards &amp; gear</p></a>
			<a href=""><p>contact us</p></a>
			<a href=""><p>home</p></a>
		</div>
		
		<script>
			$(document).ready(function(){
				$('.logo').on('mouseover', function(){
					$('.logo').addClass('logoDance');
				});
				$('.logo').on('mouseout', function(){
					$('.logo').removeClass('logoDance');
				});
				mobiBtn();
			});
			function mobiBtn(){
				var isClicked = 0;
				$('.menu-btn-container').click(function(){
					if(isClicked==0){
						isClicked++;
						$('#top-bar').removeClass('topUp');
						$('#top-bar').addClass('topDown');
						$('#low-bar').removeClass('lowDown');
						$('#low-bar').addClass('lowUp');
						$('#mid-bar').addClass('hideBar');
						showMenu();
					}else{
						isClicked--;
						$('#top-bar').removeClass('topDown');
						$('#top-bar').addClass('topUp');
						$('#low-bar').removeClass('lowUp');
						$('#low-bar').addClass('lowDown');
						$('#mid-bar').removeClass('hideBar');
						hideMenu();
					}
				});
			}
			function showMenu(){
				$('.mobi-menu').slideDown(500);
				$('.mobi-nav').css({'position':'fixed'});
			}
			function hideMenu(){
				$('.mobi-menu').slideUp(500);
				$('.mobi-nav').css({'position':'relative'});
			}
		</script>

		<div class="body-container">
			<div class="sub-body mod-container">
				<div class="col-xs-12 text-center">
					<h1>Locations</h1>
				</div>
				<div class="col-xs-12 text-center toggle-links-container">
					<div class="toggle-links">
						<ul>
							<li class="toggle active" data-view="Des Moines" data-section="Des Moines"><a href="#des-moines">Des Moines</a></li>
							<li class="toggle" data-view="Urbandale" data-section="Urbandale"><a href="#urbandale">Urbandale</a></li>
							<li class="toggle" data-view="Altoona" data-section="Altoona"><a href="#altoona">Altoona</a></li>
							<li class="toggle" data-view="Ames" data-section="Ames"><a href="#ames">Ames</a></li>
							<li class="toggle" data-view="Ankeny" data-section="Ankeny"><a href="#ankeny">Ankeny</a></li>
						</ul>
					</div>
				</div>
				<div class="clearfix"></div>
				<script>
					$(document).ready(function(){
						$('.toggle').click(function(){
							var view = $(this).data('view');
							var section = $(this).data('section');
							$('.toggle-title').text(view);
							$(this).addClass('active');
							$(this).siblings().removeClass('active');
						});
					});
				</script>
			</div>
			
			<div class="map-container text-left">
				<!--<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyALbe56mfydZOGxCWprEFVS5p2LCEI17vo"></script>-->
				<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

				<script type="text/javascript">
					google.maps.event.addDomListener(window, 'load', init);

					function init() {
						var locations = [
						  ['<div class="info-img"><img src="images/callout-2.jpg"></div>'
						   +'<div class="info-tip"><p><strong>B-Bop\'s - Ankeny</strong><br>'
						   +'2205 SE Delaware Ave<br>'
						   +'Ankeny, IA 50021<br>'
						   +'<a href="tel:515-963-1928">(515) 963-1928</a></p></div>', 41.7082027,-93.5828998, 9],
						  ['<div class="info-img"><img src="images/callout-2.jpg"></div>'
						   +'<div class="info-tip"><p><strong>B-Bop\'s - Altoona</strong><br>'
						   +'3635 8th St SW<br>'
						   +'Altoona, IA 50009<br>'
						   +'<a href="tel:515-967-8788">(515) 967-8788</a></p></div>', 41.6447739,-93.5087966, 8],
						  ['<div class="info-img"><img src="images/callout-2.jpg"></div>'
						   +'<div class="info-tip"><p><strong>B-Bop\'s - Ames</strong><br>'
						   +'1112 S Duff Ave<br>'
						   +'Ames, IA 50010<br>'
						   +'<a href="tel:515-233-5678">(515) 233-5678</a></p></div>', 42.0126183,-93.6117592, 7],
						  ['<div class="info-img"><img src="images/callout-2.jpg"></div>'
						   +'<div class="info-tip"><p><strong>B-Bop\'s - Urbandale</strong><br>'
						   +'4565 86th St<br>'
						   +'Urbandale, IA 50322<br>'
						   +'<a href="tel:515-334-0727">(515) 334-0727</a></p></div>', 41.6433368,-93.7383278, 6],
						  ['<div class="info-img"><img src="images/callout-2.jpg"></div>'
						   +'<div class="info-tip"><p><strong>B-Bop\'s - Windsor Heights</strong><br>'
						   +'1105 73rd St<br>'
						   +'Windsor Heights, IA 50324<br>'
						   +'<a href="tel:515-279-5757">(515) 279-5757</a></p></div>', 41.5990862,-93.7193207, 5],
						  ['<div class="info-img"><img src="images/callout-2.jpg"></div>'
						   +'<div class="info-tip"><p><strong>B-Bop\'s - South East 14th</strong><br>'
						   +'4820 SE 14th St<br>'
						   +'Des Moines, IA 50320<br>'
						   +'<a href="tel:515-262-8825">(515) 262-8825</a></p></div>', 41.539654,-93.5997152, 4],
						  ['<div class="info-img"><img src="images/callout-2.jpg"></div>'
						   +'<div class="info-tip"><p><strong>B-Bop\'s - East 14th</strong><br>'
						   +'3815 E 14th St<br>'
						   +'Des Moines, IA 50313<br>'
						   +'<a href="tel:515-262-8825">(515) 262-8825</a></p></div>', 41.6302685,-93.6020124, 3],
						  ['<div class="info-img"><img src="images/callout-2.jpg"></div>'
						   +'<div class="info-tip"><p><strong>B-Bop\'s - Fleur Drive</strong><br>'
						   +'4500 Fleur Drive<br>'
						   +'Des Moines, IA 50321<br>'
						   +'<a href="tel:515-287-8482">(515) 287-8482</a></p></div>', 41.544314,-93.6477217, 2],
						  ['<div class="info-img"><img src="images/callout-2.jpg"></div>'
						   +'<div class="info-tip"><p><strong>B-Bop\'s - Jordan Creek</strong><br>'
						   +'6135 Mills Civic Parkway<br>'
						   +'Des Moines, IA 50266<br>'
						   +'<a href="tel:515-267 9304">(515) 267-9304</a></p></div>', 41.56079,-93.7934203, 1]
						];
						var mapOptions = {
							zoom: 9,
							center: new google.maps.LatLng(41.70,-93.7949957),
							styles: [{"featureType":"all",
							  "stylers":[{"saturation":0},{"hue":"#e7ecf0"}]},	{"featureType":"road","stylers":[{"saturation":-70}]},	{"featureType":"transit","stylers":[{"visibility":"off"}]},	{"featureType":"poi","stylers":[{"visibility":"off"}		]	},	{"featureType":"water","stylers":[{"visibility":"simplified"},{"saturation":-60}]}]
						};
						var mapElement = document.getElementById('map');
						var map = new google.maps.Map(mapElement, mapOptions);
						var image = 'images/marker.png';
						var infowindow = new google.maps.InfoWindow();

						var marker, i;

						for (i = 0; i < locations.length; i++) {  
						  marker = new google.maps.Marker({
							position: new google.maps.LatLng(locations[i][1], locations[i][2]),
							map: map,
							icon: image
						  });

						  google.maps.event.addListener(marker, 'click', (function(marker, i) {
							return function() {
							  infowindow.setContent(locations[i][0]);
							  infowindow.open(map, marker);
							}
						  })(marker, i));
						}
					}
				</script>
				<div id="map"></div>
			</div>
			<div class="sub-body mod-container">
				<div class="toggle-body">
					<h2 id="des-moines">Des Moines, Iowa</h2>
					<div class="toggle-section">
						<div class="container">
							<div class="sandwiches">
								<div class="row">
									<div class="col-xs-12 col-sm-6 col-md-4 text-left menu-item">
										<h4 class="strong">B-Bop's Fleur Drive</h4>
										<p>4500 Fleur Drive<br />
										Des Moines, IA 50321<br />
										<a href="515-287-8482" class="phone">(515) 287-8482</a><br />
										<a href="">View Details <span class="fa fa-long-arrow-right"></span></a> <a href="">Get Directions <span class="fa fa-long-arrow-right"></span></a></p>
									</div>
									<div class="col-xs-12 col-sm-6 col-md-4 text-left menu-item">
										<h4 class="strong">B-Bop's East 14th</h4>
										<p>3815 E 14th St<br />
										Des Moines, IA 50313<br />
										<a href="515-287-8482">(515) 287-8482</a><br />
										<a href="">View Details <span class="fa fa-long-arrow-right"></span></a> <a href="">Get Directions <span class="fa fa-long-arrow-right"></span></a></p>
									</div>
									<div class="col-xs-12 col-sm-6 col-md-4 text-left menu-item">
										<h4 class="strong">B-Bop's South East 14th</h4>
										<p>4820 SE 14th St<br />
										Des Moines, IA 50320<br />
										<a href="515-256-8908">(515) 256-8908</a><br />
										<a href="">View Details <span class="fa fa-long-arrow-right"></span></a> <a href="">Get Directions <span class="fa fa-long-arrow-right"></span></a></p>
									</div>
									<div class="col-xs-12 col-sm-6 col-md-4 text-left menu-item">
										<h4 class="strong">B-Bop's Windsor Heights</h4>
										<p>1105 73rd St<br />
										Windsor Heights, IA 50324<br />
										<a href="515-279-5757">(515) 279-5757</a><br />
										<a href="">View Details <span class="fa fa-long-arrow-right"></span></a> <a href="">Get Directions <span class="fa fa-long-arrow-right"></span></a></p>
									</div>
									<div class="col-xs-12 col-sm-6 col-md-4 text-left menu-item">
										<h4 class="strong">B-Bop's Jordan Creek</h4>
										<p>6135 Mills Civic Parkway<br />
										Des Moines, IA 50266<br />
										<a href="515-267-9304">(515) 267-9304</a><br />
										<a href="">View Details <span class="fa fa-long-arrow-right"></span></a> <a href="">Get Directions <span class="fa fa-long-arrow-right"></span></a></p>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-12 col-sm-6 col-md-4 text-left menu-item">
										<h2 id="urbandale">urbandale, iowa</h2>
										<h4 class="strong">B-Bop's Fleur Drive</h4>
										<p>4500 Fleur Drive<br />
										Des Moines, IA 50321<br />
										<a href="515-287-8482">(515) 287-8482</a><br />
										<a href="">View Details <span class="fa fa-long-arrow-right"></span></a> <a href="">Get Directions <span class="fa fa-long-arrow-right"></span></a></p>
									</div>
									<div class="col-xs-12 col-sm-6 col-md-4 text-left menu-item">
										<h2 id="ames">Ames, iowa</h2>
										<h4 class="strong">B-Bop's Fleur Drive</h4>
										<p>4500 Fleur Drive<br />
										Des Moines, IA 50321<br />
										<a href="515-287-8482">(515) 287-8482</a><br />
										<a href="">View Details <span class="fa fa-long-arrow-right"></span></a> <a href="">Get Directions <span class="fa fa-long-arrow-right"></span></a></p>
									</div>
									<div class="col-xs-12 col-sm-6 col-md-4 text-left menu-item">
										<h2 id="altoona">Altoona, iowa</h2>
										<h4 class="strong">B-Bop's Fleur Drive</h4>
										<p>4500 Fleur Drive<br />
										Des Moines, IA 50321<br />
										<a href="515-287-8482">(515) 287-8482</a><br />
										<a href="">View Details <span class="fa fa-long-arrow-right"></span></a> <a href="">Get Directions <span class="fa fa-long-arrow-right"></span></a></p>
									</div>
									<div class="col-xs-12 col-sm-6 col-md-4 col-md-offset-4 text-left menu-item">
										<h2 id="ankeny">Ankeny, iowa</h2>
										<h4 class="strong">B-Bop's Fleur Drive</h4>
										<p>4500 Fleur Drive<br />
										Des Moines, IA 50321<br />
										<a href="515-287-8482">(515) 287-8482</a><br />
										<a href="">View Details <span class="fa fa-long-arrow-right"></span></a> <a href="">Get Directions <span class="fa fa-long-arrow-right"></span></a></p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
		
		<div class="clearfix"></div>
		
		<div class="footer-container container-fluid">
			<div class="double-red">
				<div class="double-black">
					<div class="single-yellow"></div>
				</div>
			</div>
			<div class="social-container">
				<ul>
					<li><a href=""><span class="fa fa-facebook-official"></span></a></li>
					<li><a href=""><span class="fa fa-twitter"></span></a></li>
					<li><a href=""><span class="fa fa-youtube"></span></a></li>
					<li><a href=""><span class="fa fa-instagram"></span></a></li>
				</ul>
			</div>
			<div class="footer-nav">
				<ul>
					<li><a href="">menu/nutrition</a></li>
					<li><a href="">locations</a></li>
					<li><a href="">jobs</a></li>
					<li><a href="">about us</a></li>
					<li><a href="">gift cards &amp; gear</a></li>
					<li><a href="">contact us</a></li>
					<li><a href="">privacy policy</a></li>
				</ul>
			</div>
			<div class="footer-copy">
				&copy;2017 B-Bop's Inc. All rights reserved.
			</div>
		</div>
		
		<script>
			$(document).ready(function(){
				var didScroll;
				var lastScrollTop = 0;
				var delta = 5;
				var navbarHeight = $('.main-nav').outerHeight()+50;
				var winWidth = $(window).width();
				if(winWidth<992){
					var theNav = $('.mobi-nav');
				}else{
					var theNav = $('.main-nav');
				}

				$(window).scroll(function(event){
					didScroll = true;
				});

				setInterval(function() {
					if (didScroll) {
						hasScrolled();
						didScroll = false;
					}
				}, 250);

				function hasScrolled() {
					var st = $(this).scrollTop();

					// Make sure they scroll more than delta
					if(Math.abs(lastScrollTop - st) <= delta)
						return;

					// If they scrolled down and are past the navbar, add class .nav-up.
					// This is necessary so you never see what is "behind" the navbar.
					if (st > lastScrollTop && st > navbarHeight){
						// Scroll Down
						$(theNav).removeClass('nav-down').addClass('nav-up');
					} else {
						// Scroll Up
						if(st + $(window).height() < $(document).height()) {
							$(theNav).removeClass('nav-up').addClass('nav-down');
						}
					}

					lastScrollTop = st;
				}
				
			});
			$(function() {
				$('a[href*="#"]:not([href="#"])').click(function() {
				  if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
					var target = $(this.hash);
					target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
					if (target.length) {
					  $('html, body').animate({
						scrollTop: target.offset().top
					  }, 1000);
					  return false;
					}
				  }
				});
			 });
		</script>
	</div>
</body>
</html>