<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
	<meta property="og:url"           content="b-bops.com" />
  	<meta property="og:type"          content="website" />
  	<meta property="og:title"         content="<%= @webpage.page_title %>" />
  	<meta property="og:description"   content="<%= @webpage.meta_key %>" />
  	<meta property="og:image"         content="" />
  	<meta name="twitter:card" content="summary" />
  	<meta name="twitter:title" content="<%= @webpage.page_title %>" />
  	<meta name="twitter:description" content="<%= @webpage.meta_key %>" />
  	<meta name="twitter:image" content="" />
	<!--<title><%= @website.name %> <%#= page_title %> <% if !@webpage.meta_key.blank? %> | <%= @webpage.meta_key %><% end %></title>-->
	<title>B-Bop's</title>
	<!--[if lt IE 9]>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
	<![endif]-->
	<script src="js/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed" rel="stylesheet"> 
	<link rel="stylesheet" type="text/css" href="css/bootstrap/css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/owl.carousel.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	
	<!-- google analytics code for website -->
  	<!--<% if !@website.web_analytics_id.blank? %> -->
  	<script>

	 	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	 	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	 	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	 	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	 	//ga('create', '<%= @website.web_analytics_id %>', 'auto');
	 	ga('send', 'pageview');

	</script>
  	<!--<% end %>-->
  	<!-- GA code for webpage ends -->
   	<!-- Full Tracking code for website -->
  	<!--<% if !@website.full_website_code.blank? %>-->
   	<!--<%= @website.full_website_code.html_safe %>-->
  	<!-- Full Tracking code for website ENDS -->
  	<!--<% end %>-->
  	<!-- Full Tracking code for webpage -->
  	<!--<% if !@webpage.full_tracking_code.blank? %>-->
   	<!--<%= @webpage.full_tracking_code.html_safe %>-->
  	<!-- Full Tracking code for webpage ENDS -->
  	<!--<% end %>-->
</head>

<body>
	<div class="site-wrapper">
		<div class="container-fluid main-nav">
			<div class="notes-container"></div>
			<ul>
				<li><a href="">menu/nutrition</a></li>
				<li><a href="">locations</a></li>
				<li><a href="">jobs</a></li>
				<li class="logo-img"><a href=""><img src="images/logo.png" class="logo"></a></li>
				<li><a href="">about us</a></li>
				<li><a href="">gift cards &amp; gear</a></li>
				<li><a href="">contact us</a></li>
			</ul>
		</div>
		
		<div class="mobi-nav">
			<div class="notes-container"></div>
			<a href=""><img src="images/logo.png" class="logo"></a>
			<div class="menu-btn-container">
				<div id="top-bar"></div>
				<div id="mid-bar"></div>
				<div id="low-bar"></div>
				<p>menu</p>
			</div>
		</div>
		
		<div class="mobi-menu">
			<a href=""><p>home</p></a>
			<a href=""><p>menu/nutrition</p></a>
			<a href=""><p>locations</p></a>
			<a href=""><p>jobs</p></a>
			<a href=""><p>about us</p></a>
			<a href=""><p>gift cards &amp; gear</p></a>
			<a href=""><p>contact us</p></a>
			<a href=""><p>home</p></a>
		</div>
		
		<script>
			$(document).ready(function(){
				$('.logo').on('mouseover', function(){
					$('.logo').addClass('logoDance');
				});
				$('.logo').on('mouseout', function(){
					$('.logo').removeClass('logoDance');
				});
				mobiBtn();
			});
			function mobiBtn(){
				var isClicked = 0;
				$('.menu-btn-container').click(function(){
					if(isClicked==0){
						isClicked++;
						$('#top-bar').removeClass('topUp');
						$('#top-bar').addClass('topDown');
						$('#low-bar').removeClass('lowDown');
						$('#low-bar').addClass('lowUp');
						$('#mid-bar').addClass('hideBar');
						showMenu();
					}else{
						isClicked--;
						$('#top-bar').removeClass('topDown');
						$('#top-bar').addClass('topUp');
						$('#low-bar').removeClass('lowUp');
						$('#low-bar').addClass('lowDown');
						$('#mid-bar').removeClass('hideBar');
						hideMenu();
					}
				});
			}
			function showMenu(){
				$('.mobi-menu').slideDown(500);
				$('.mobi-nav').css({'position':'fixed'});
			}
			function hideMenu(){
				$('.mobi-menu').slideUp(500);
				$('.mobi-nav').css({'position':'relative'});
			}
		</script>

		<div class="body-container">
			<div class="sub-hero-container">
				<img src="images/sub-hero.jpg" class="sub-hero">
			</div>
			<div class="sub-body mod-container">
				<div class="col-xs-12 back-link">
					<h3><a href=""><span class="fa fa-long-arrow-left"></span> Back to Locations</a></h3>
					<div class="double-yellow"></div>
				</div>
				<div class="col-xs-12 text-center page-title">
					<h1>B-Bop's - Jordan Creek</h1>
				</div>
				<div class="details-container">
					<div class="col-xs-12 col-sm-6 col-md-5">
						<img src="images/burgers/burger-1.jpg" class="img-responsive desc-img">
					</div>
					<div class="col-xs-12 col-sm-6 col-md-7">
						<div class="nutri-container">
							<div class="col-xs-12 col-md-6 no-pad location">
								<h4 class="strong">Location Info</h4>
								<p>6135 Mills Civic Pkwy</p>
								<p>West Des Moines, IA 50266</p>
								<p class="phone"><a href="">(515) 262-8825</a></p>
								<h5><a href="">Get Directions <span class="fa fa-long-arrow-right"></span></a></h5>
							</div>
							<div class="col-xs-12 col-md-6 xs-pad">
								<h4 class="strong">Hours</h4>
								<table class="table">
									<tr>
										<td align="left" class="strong">Monday</td>
										<td align="right">10AM - 11PM</td>
									</tr>
									<tr>
										<td align="left" class="strong">Tuesday</td>
										<td align="right">10AM - 11PM</td>
									</tr>
									<tr>
										<td align="left" class="strong">Wednesday</td>
										<td align="right">10AM - 11PM</td>
									</tr>
									<tr>
										<td align="left" class="strong">Thursday</td>
										<td align="right">10AM - 11PM</td>
									</tr>
									<tr>
										<td align="left" class="strong">Friday</td>
										<td align="right">10AM - 12AM</td>
									</tr>
									<tr>
										<td align="left" class="strong">Saturday</td>
										<td align="right">10AM - 12AM</td>
									</tr>
									<tr>
										<td align="left" class="strong">Sunday</td>
										<td align="right">10AM - 11PM</td>
									</tr>
								</table>
							</div>
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		
		<div class="map-container">
       		<!--<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyALbe56mfydZOGxCWprEFVS5p2LCEI17vo"></script>-->
       		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
        
			<script type="text/javascript">
				// When the window has finished loading create our google map below
				google.maps.event.addDomListener(window, 'load', init);

				function init() {
					// Basic options for a simple Google Map
					// For more options see: https://developers.google.com/maps/documentation/javascript/reference#MapOptions
					var mapOptions = {
						// How zoomed in you want the map to start at (always required)
						zoom: 15,

						// The latitude and longitude to center the map (always required)
						center: new google.maps.LatLng(41.5593373,-93.7949957), // New York

						// How you would like to style the map. 
						// This is where you would paste any style found on Snazzy Maps.
						styles: [{"featureType":"all",
						  "stylers":[{"saturation":0},{"hue":"#e7ecf0"}]},	{"featureType":"road","stylers":[{"saturation":-70}]},	{"featureType":"transit","stylers":[{"visibility":"off"}]},	{"featureType":"poi","stylers":[{"visibility":"off"}		]	},	{"featureType":"water","stylers":[{"visibility":"simplified"},{"saturation":-60}]}]
					};

					// Get the HTML DOM element that will contain your map 
					// We are using a div with id="map" seen below in the <body>
					var mapElement = document.getElementById('map');

					// Create the Google Map using our element and options defined above
					var map = new google.maps.Map(mapElement, mapOptions);

					// Let's also add a marker while we're at it
					var image = 'images/marker.png';
					var marker = new google.maps.Marker({
						position: new google.maps.LatLng(41.5593373,-93.7949957),
						map: map,
						title: 'Snazzy!',
						icon: image
					});
				}
			</script>
			<div id="map"></div>
		</div>
		
		<div class="footer-container container-fluid">
			<div class="double-red">
				<div class="double-black">
					<div class="single-yellow"></div>
				</div>
			</div>
			<div class="social-container">
				<ul>
					<li><a href=""><span class="fa fa-facebook-official"></span></a></li>
					<li><a href=""><span class="fa fa-twitter"></span></a></li>
					<li><a href=""><span class="fa fa-youtube"></span></a></li>
					<li><a href=""><span class="fa fa-instagram"></span></a></li>
				</ul>
			</div>
			<div class="footer-nav">
				<ul>
					<li><a href="">menu/nutrition</a></li>
					<li><a href="">locations</a></li>
					<li><a href="">jobs</a></li>
					<li><a href="">about us</a></li>
					<li><a href="">gift cards &amp; gear</a></li>
					<li><a href="">contact us</a></li>
					<li><a href="">privacy policy</a></li>
				</ul>
			</div>
			<div class="footer-copy">
				&copy;2017 B-Bop's Inc. All rights reserved.
			</div>
		</div>
	</div>
</body>
</html>