<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
	<meta property="og:url"           content="b-bops.com" />
  	<meta property="og:type"          content="website" />
  	<meta property="og:title"         content="<%= @webpage.page_title %>" />
  	<meta property="og:description"   content="<%= @webpage.meta_key %>" />
  	<meta property="og:image"         content="" />
  	<meta name="twitter:card" content="summary" />
  	<meta name="twitter:title" content="<%= @webpage.page_title %>" />
  	<meta name="twitter:description" content="<%= @webpage.meta_key %>" />
  	<meta name="twitter:image" content="" />

	<link rel="shortcut icon" href="/favicon.ico">
   	<meta name="apple-mobile-web-app-title" content="B-Bop's">
   	<link rel="mask-icon" href="mask-icon.svg" color="#000000">
   	<link rel="apple-touch-icon" href="/apple-touch-icon.png">	
   	<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
   	<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
   	<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
   	<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
   	<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
   	<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
   	<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
   	<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
   	<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
   	<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
   	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
   	<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
   	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
   	<link rel="manifest" href="/manifest.json">
   	<meta name="msapplication-TileColor" content="#002a52">
   	<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
   	<meta name="theme-color" content="#002a52">

	<title><%= @website.name %> <%= page_title %> <% if !@webpage.meta_key.blank? %> | <%= @webpage.meta_key %><% end %></title>
	<!--[if lt IE 9]>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
	<![endif]-->
	<script src="/presents/b-bops/designs/javascripts/jquery.js"></script>
	<script src="/presents/b-bops/designs/javascripts/bootstrap.min.js"></script>
	<script src="/presents/b-bops/designs/javascripts/owl.carousel.min.js"></script>
	<script src="/presents/b-bops/designs/javascripts/show-hide.js"></script>
	
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed" rel="stylesheet"> 
	<link rel="stylesheet" type="text/css" href="/presents/<%= presentation_for(@webpage)%>/designs/stylesheets/bootstrap/css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="/presents/b-bops/designs/stylesheets/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/presents/b-bops/designs/stylesheets/owl.carousel.min.css">
	<link rel="stylesheet" type="text/css" href="/presents/b-bops/designs/stylesheets/style.css">
	
	<!-- google analytics code for website -->
  	<!--<% if !@website.web_analytics_id.blank? %> -->
  	<script>

	 	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	 	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	 	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	 	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	 	//ga('create', '<%= @website.web_analytics_id %>', 'auto');
	 	ga('send', 'pageview');

	</script>
  	<!--<% end %>-->
  	<!-- GA code for webpage ends -->
   	<!-- Full Tracking code for website -->
  	<!--<% if !@website.full_website_code.blank? %>-->
   	<!--<%= @website.full_website_code.html_safe %>-->
  	<!-- Full Tracking code for website ENDS -->
  	<!--<% end %>-->
  	<!-- Full Tracking code for webpage -->
  	<!--<% if !@webpage.full_tracking_code.blank? %>-->
   	<!--<%= @webpage.full_tracking_code.html_safe %>-->
  	<!-- Full Tracking code for webpage ENDS -->
  	<!--<% end %>-->
</head>

<body>
	<div class="site-wrapper">