<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
	<meta property="og:url"           content="b-bops.com" />
  	<meta property="og:type"          content="website" />
  	<meta property="og:title"         content="<%= @webpage.page_title %>" />
  	<meta property="og:description"   content="<%= @webpage.meta_key %>" />
  	<meta property="og:image"         content="" />
  	<meta name="twitter:card" content="summary" />
  	<meta name="twitter:title" content="<%= @webpage.page_title %>" />
  	<meta name="twitter:description" content="<%= @webpage.meta_key %>" />
  	<meta name="twitter:image" content="" />
	<!--<title><%= @website.name %> <%#= page_title %> <% if !@webpage.meta_key.blank? %> | <%= @webpage.meta_key %><% end %></title>-->
	<title>B-Bop's</title>
	<!--[if lt IE 9]>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
	<![endif]-->
	<script src="js/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/show-hide.js"></script>
	
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed" rel="stylesheet"> 
	<link rel="stylesheet" type="text/css" href="css/bootstrap/css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/owl.carousel.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	
	<!-- google analytics code for website -->
  	<!--<% if !@website.web_analytics_id.blank? %> -->
  	<script>

	 	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	 	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	 	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	 	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	 	//ga('create', '<%= @website.web_analytics_id %>', 'auto');
	 	ga('send', 'pageview');

	</script>
  	<!--<% end %>-->
  	<!-- GA code for webpage ends -->
   	<!-- Full Tracking code for website -->
  	<!--<% if !@website.full_website_code.blank? %>-->
   	<!--<%= @website.full_website_code.html_safe %>-->
  	<!-- Full Tracking code for website ENDS -->
  	<!--<% end %>-->
  	<!-- Full Tracking code for webpage -->
  	<!--<% if !@webpage.full_tracking_code.blank? %>-->
   	<!--<%= @webpage.full_tracking_code.html_safe %>-->
  	<!-- Full Tracking code for webpage ENDS -->
  	<!--<% end %>-->
</head>

<body>
	<div class="site-wrapper">
		<div class="container-fluid main-nav" id="main-head">
			<div class="notes-container"></div>
			<ul>
				<li><a href="">menu/nutrition</a></li>
				<li><a href="">locations</a></li>
				<li><a href="">jobs</a></li>
				<li class="logo-img"><a href=""><img src="images/logo.png" class="logo"></a></li>
				<li><a href="">about us</a></li>
				<li><a href="">gift cards &amp; gear</a></li>
				<li><a href="">contact us</a></li>
			</ul>
		</div>
		
		<div class="mobi-nav" id="mobi-head">
			<div class="notes-container"></div>
			<a href=""><img src="images/logo.png" class="logo"></a>
			<div class="menu-btn-container">
				<div id="top-bar"></div>
				<div id="mid-bar"></div>
				<div id="low-bar"></div>
				<p>menu</p>
			</div>
		</div>
		
		<div class="mobi-menu">
			<div class="mobi-link-container">
				<a href=""><p>home</p></a>
				<a href=""><p>menu/nutrition</p></a>
				<a href=""><p>locations</p></a>
				<a href=""><p>jobs</p></a>
				<a href=""><p>about us</p></a>
				<a href=""><p>gift cards &amp; gear</p></a>
				<a href=""><p>contact us</p></a>
			</div>
		</div>
		
		<script>
			$(document).ready(function(){
				$('.logo').on('mouseover', function(){
					$('.logo').addClass('logoDance');
				});
				$('.logo').on('mouseout', function(){
					$('.logo').removeClass('logoDance');
				});
				mobiBtn();
			});
			function mobiBtn(){
				var isClicked = 0;
				$('.menu-btn-container').click(function(){
					if(isClicked==0){
						isClicked++;
						$('#top-bar').removeClass('topUp');
						$('#top-bar').addClass('topDown');
						$('#low-bar').removeClass('lowDown');
						$('#low-bar').addClass('lowUp');
						$('#mid-bar').addClass('hideBar');
						showMenu();
					}else{
						isClicked--;
						$('#top-bar').removeClass('topDown');
						$('#top-bar').addClass('topUp');
						$('#low-bar').removeClass('lowUp');
						$('#low-bar').addClass('lowDown');
						$('#mid-bar').removeClass('hideBar');
						hideMenu();
					}
				});
			}
			function showMenu(){
				$('.mobi-menu').slideDown(500);
				$('.mobi-nav').addClass('nav-down');
			}
			function hideMenu(){
				$('.mobi-menu').slideUp(500);
			}
		</script>

		<div class="slider-container">
			<div class="owl-carousel hero">
				<div class="item">
					<img src="images/slide-1.jpg" alt="New B-Bop's Location">
					<div class="text-container">
						<h1>new location - opening soon</h1>
						<h2>Visit our newest location coming soon to the Jordan Creek area.</h2>
						<a href="" class="slider-btn">view this location</a>
					</div>
				</div>
				<div class="item">
					<img src="images/slide-2.jpg" alt="New B-Bop's Location">
				</div>
				<div class="item">
					<img src="images/slide-3.jpg" alt="B-Bop's Location">
				</div>
			</div>
		</div>
		
		<div class="container-fluid">
			<div class="mod-container callout-container">
				<div class="col-xs-12 col-md-4">
					<a href="">
						<div class="callout">
							<img src="images/callout-1.jpg" class="callout-img">
							<h2 class="title">View Our Menu</h2>
							<p class="desc">Everything is super fresh and super fast <span class="fa fa-long-arrow-right"></span></p>
						</div>
					</a>
				</div>
				<div class="col-xs-12 col-md-4">
					<a href="">
						<div class="callout">
							<img src="images/callout-2.jpg" class="callout-img">
							<h2 class="title">Our Locations</h2>
							<p class="desc">We have locations throught Central Iowa <span class="fa fa-long-arrow-right"></span></p>
						</div>
					</a>
				</div>
				<div class="col-xs-12 col-md-4">
					<a href="">
						<div class="callout">
							<img src="images/callout-3.jpg" class="callout-img">
							<h2 class="title">Now Hiring</h2>
							<p class="desc">We need great people to join our team <span class="fa fa-long-arrow-right"></span></p>
						</div>
					</a>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		
		<div class="mod-container">
			<div class="double-yellow"></div>
		</div>
		
		<div class="container-fluid seo-container">
			<div class="mod-container">
				<div class="col-xs-12 col-md-4 graphic">
					<img src="images/seo-img.jpg" class="img-responsive">
				</div>
				<div class="col-xs-12 col-md-8">
					<h2>Now B-Bop's is More Than Just Drive-Thru</h2>
					<p>You may know B-Bop's as a drive-thru restaurant, but now we have multiple dine-in locations as well. At B-Bop's, you can either roll down your windows and enjoy the carefree music of an era gone by or sit in our retro dining area to be surrounded by a golden era. The wait is never very long at B-Bop's, so you probably won't even get to hear more than a song or two. We have drive-thru windows to serve you your food super fast. You'll be greeted by someone cheerful that will accept payment, which is always easy on your wallet, and send you on your way with your hot, fresh food. We have locations throughout Central Iowa, including the Des Moines area, Ankeny, and Ames.</p>
					<h4><a href="">Learn More <span class="fa fa-long-arrow-right"></span></a></h4>
				</div>
			</div>
		</div>
		
		<div class="footer-container container-fluid">
			<div class="double-red">
				<div class="double-black">
					<div class="single-yellow"></div>
				</div>
			</div>
			<div class="social-container">
				<ul>
					<li><a href=""><span class="fa fa-facebook-official"></span></a></li>
					<li><a href=""><span class="fa fa-twitter"></span></a></li>
					<li><a href=""><span class="fa fa-youtube"></span></a></li>
					<li><a href=""><span class="fa fa-instagram"></span></a></li>
				</ul>
			</div>
			<div class="footer-nav">
				<ul>
					<li><a href="">menu/nutrition</a></li>
					<li><a href="">locations</a></li>
					<li><a href="">jobs</a></li>
					<li><a href="">about us</a></li>
					<li><a href="">gift cards &amp; gear</a></li>
					<li><a href="">contact us</a></li>
					<li><a href="">privacy policy</a></li>
				</ul>
			</div>
			<div class="footer-copy">
				&copy;2017 B-Bop's Inc. All rights reserved.
			</div>
		</div>
		
		<script>
			$(document).ready(function(){
				heroOwl = $('.hero');
				heroOwl.owlCarousel({
					items: 1,
					margin: 0,
					nav: false,
					dots: false,
					loop: true,
					center: false,
					autoplay:4000,
					smartSpeed:2050,
					autoplayHoverPause: true
				});
				var didScroll;
				var lastScrollTop = 0;
				var delta = 5;
				var navbarHeight = $('.main-nav').outerHeight()+50;
				var winWidth = $(window).width();
				if(winWidth<992){
					var theNav = $('.mobi-nav');
				}else{
					var theNav = $('.main-nav');
				}

				$(window).scroll(function(event){
					didScroll = true;
				});

				setInterval(function() {
					if (didScroll) {
						hasScrolled();
						didScroll = false;
					}
				}, 250);

				function hasScrolled() {
					var st = $(this).scrollTop();

					// Make sure they scroll more than delta
					if(Math.abs(lastScrollTop - st) <= delta)
						return;

					// If they scrolled down and are past the navbar, add class .nav-up.
					// This is necessary so you never see what is "behind" the navbar.
					if (st > lastScrollTop && st > navbarHeight){
						// Scroll Down
						$(theNav).removeClass('nav-down').addClass('nav-up');
					} else {
						// Scroll Up
						if(st + $(window).height() < $(document).height()) {
							$(theNav).removeClass('nav-up').addClass('nav-down');
						}
					}

					lastScrollTop = st;
				}
			});
			$(document).scroll(function() {
				var y = $(this).scrollTop();
				if (y > 500) {
					//$(".mobi-nav").sticky({ topSpacing: 0 });
				} else {
					$('#to-top').fadeOut();
				}
			});
		</script>
	</div>
</body>
</html>
