
		
		<div class="footer-container container-fluid">
			<div class="double-red">
				<div class="double-black">
					<div class="single-yellow"></div>
				</div>
			</div>
			<div class="social-container">
				<ul>
					<li><a href=""><span class="fa fa-facebook-official"></span></a></li>
					<li><a href=""><span class="fa fa-twitter"></span></a></li>
					<li><a href=""><span class="fa fa-youtube"></span></a></li>
					<li><a href=""><span class="fa fa-instagram"></span></a></li>
				</ul>
			</div>
			<div class="footer-nav">
				<ul>
					<li><a href="">menu/nutrition</a></li>
					<li><a href="">locations</a></li>
					<li><a href="">jobs</a></li>
					<li><a href="">about us</a></li>
					<li><a href="">gift cards &amp; gear</a></li>
					<li><a href="">contact us</a></li>
					<li><a href="">privacy policy</a></li>
				</ul>
			</div>
			<div class="footer-copy">
				&copy;2017 B-Bop's Inc. All rights reserved.
			</div>
		</div>
		
		<script>
			$(document).ready(function(){
				heroOwl = $('.hero');
				heroOwl.owlCarousel({
					items: 1,
					margin: 0,
					nav: false,
					dots: false,
					loop: true,
					center: false,
					autoplay:4000,
					smartSpeed:2050,
					autoplayHoverPause: true
				});
				var didScroll;
				var lastScrollTop = 0;
				var delta = 5;
				var navbarHeight = $('.main-nav').outerHeight()+50;
				var winWidth = $(window).width();
				if(winWidth<992){
					var theNav = $('.mobi-nav');
				}else{
					var theNav = $('.main-nav');
				}

				$(window).scroll(function(event){
					didScroll = true;
				});

				setInterval(function() {
					if (didScroll) {
						hasScrolled();
						didScroll = false;
					}
				}, 250);

				function hasScrolled() {
					var st = $(this).scrollTop();

					// Make sure they scroll more than delta
					if(Math.abs(lastScrollTop - st) <= delta)
						return;

					// If they scrolled down and are past the navbar, add class .nav-up.
					// This is necessary so you never see what is "behind" the navbar.
					if (st > lastScrollTop && st > navbarHeight){
						// Scroll Down
						$(theNav).removeClass('nav-down').addClass('nav-up');
					} else {
						// Scroll Up
						if(st + $(window).height() < $(document).height()) {
							$(theNav).removeClass('nav-up').addClass('nav-down');
						}
					}

					lastScrollTop = st;
				}
			});
			$(document).scroll(function() {
				var y = $(this).scrollTop();
				if (y > 500) {
					//$(".mobi-nav").sticky({ topSpacing: 0 });
				} else {
					$('#to-top').fadeOut();
				}
			});
		</script>
	</div>
</body>
</html>