
		<div class="container-fluid main-nav" id="main-head">
			<div class="notes-container"></div>
			<ul>
				<li><a href="">menu/nutrition</a></li>
				<li><a href="">locations</a></li>
				<li><a href="">jobs</a></li>
				<li class="logo-img"><a href=""><img src="images/logo.png" class="logo"></a></li>
				<li><a href="">about us</a></li>
				<li><a href="">gift cards &amp; gear</a></li>
				<li><a href="">contact us</a></li>
			</ul>
		</div>
		
		<div class="mobi-nav" id="mobi-head">
			<div class="notes-container"></div>
			<a href=""><img src="images/logo.png" class="logo"></a>
			<div class="menu-btn-container">
				<div id="top-bar"></div>
				<div id="mid-bar"></div>
				<div id="low-bar"></div>
				<p>menu</p>
			</div>
		</div>
		
		<div class="mobi-menu">
			<div class="mobi-link-container">
				<a href=""><p>home</p></a>
				<a href=""><p>menu/nutrition</p></a>
				<a href=""><p>locations</p></a>
				<a href=""><p>jobs</p></a>
				<a href=""><p>about us</p></a>
				<a href=""><p>gift cards &amp; gear</p></a>
				<a href=""><p>contact us</p></a>
			</div>
		</div>
		
		<script>
			$(document).ready(function(){
				$('.logo').on('mouseover', function(){
					$('.logo').addClass('logoDance');
				});
				$('.logo').on('mouseout', function(){
					$('.logo').removeClass('logoDance');
				});
				mobiBtn();
			});
			function mobiBtn(){
				var isClicked = 0;
				$('.menu-btn-container').click(function(){
					if(isClicked==0){
						isClicked++;
						$('#top-bar').removeClass('topUp');
						$('#top-bar').addClass('topDown');
						$('#low-bar').removeClass('lowDown');
						$('#low-bar').addClass('lowUp');
						$('#mid-bar').addClass('hideBar');
						showMenu();
					}else{
						isClicked--;
						$('#top-bar').removeClass('topDown');
						$('#top-bar').addClass('topUp');
						$('#low-bar').removeClass('lowUp');
						$('#low-bar').addClass('lowDown');
						$('#mid-bar').removeClass('hideBar');
						hideMenu();
					}
				});
			}
			function showMenu(){
				$('.mobi-menu').slideDown(500);
				$('.mobi-nav').addClass('nav-down');
			}
			function hideMenu(){
				$('.mobi-menu').slideUp(500);
			}
		</script>