// ======== Variables ========== \\
@blue: #00376b;
@light-blue: #00529f;
@yellow: #ffc72c;
@red: #d20044;
@gray: #666666;
@font-face {
	font-family: 'BPreplay';
	src: url('fonts/BPreplay/BPreplayBold.otf');
	font-weight: bold;
	font-style: normal;
}
@roboto: 'Roboto', sans-serif;
@robotoCon: 'Roboto Condensed', sans-serif;
@replay: 'BPreplay';

.site-wrapper{
	position: relative;
	height: auto;
	width: 100vw;
	overflow: hidden;
}
html, body{
	font-family: @roboto;
	font-size: 18px;
	line-height: 36px;
	color: @gray;
	@media(min-width:992px) and (max-width:1199px){
		line-height: 30px
	}
}
a{
	color: @light-blue;
	text-decoration: underline;
	&:hover{
		color: @red;
	}
}
h1, h2, h3, h4, h5, h6{
	font-family: @replay;
}
h1{
	font-size: 60px;
	letter-spacing: .05em;
	line-height: 20px;
	@media(min-width:992px) and (max-width:1199px){
		font-size: 46px;
	}
}
h2{
	font-size: 36px;
	line-height: 36px;
	letter-spacing: .05em;
	@media(min-width:992px) and (max-width:1199px){
		font-size: 30px;
		line-height: 30px;
	}
}
h4{
	font-size: 20px;
	line-height: 20px;
}
.nav-up{
	position: fixed;
	animation: navUp .25s forwards linear;
}
@keyframes navUp{
	0%{
		top: 0px;
	}
	100%{
		top: -170px;
	}
}
.nav-down{
	position: fixed;
	animation: navDown .25s forwards linear;
}
@keyframes navDown{
	0%{
		top: -170px;
	}
	100%{
		top: 0px;
	}
}
.main-nav{
	position: fixed;
	width: 100vw;
	height: 130px;
	background: @blue;
	text-align: center;
	z-index: 99 !important;
	border-bottom: 30px solid @light-blue;
	@media(max-width:991px){
		display: none;
	}
	ul{
		position: relative;
		display: block;
		list-style: none;
		padding: 0px;
		z-index: 2 !important;
		li{
			margin-right: 70px;
			margin-top: 30px;
			display: inline-block;
			&:last-child{
				margin-right: 0px;
			}
			@media(min-width:1200px) and (max-width:1570px){
				margin-right: 30px;
			}
			@media(min-width:992px) and (max-width:1199px){
				margin-right: 20px;
			}
		}
	}
	a{
		color: white;
		font-family: @replay;
		font-size: 20px;
		line-height: 20px;
		letter-spacing: .05em;
		text-transform: uppercase;
		text-decoration: none;
		transition: color .5s;
		&:hover{
			color: @yellow;
		}
		@media(min-width:1200px) and (max-width:1570px){
			font-size: 18px;
		}
		@media(min-width:992px) and (max-width:1199px){
			font-size: 16px;
		}
	}
	.logo{
		position: absolute;
		top: 0px;
		left: 0px;
		width: 90%;
	}
	.logo-img{
		position: relative;
		margin-top: 10px;
		width: 250px;
		height: 50px;
		margin-right: 40px;
		@media(min-width:1200px) and (max-width:1570px){
			width: 200px;
			margin-right: 0px;
		}
		@media(min-width:992px) and (max-width:1199px){
			width: 175px;
			margin-right: 0px;
		}
	}
	.notes-container{
		position: absolute;
		width: 100vw;
		height: 100px;
		z-index: 1 !important;
		background: url(img/music-left.png) repeat;
		overflow: hidden;
	}
	.logoDance{
		animation: dance .65s ease-in-out;
		//transition: all .5s;
	}
	@keyframes dance{
		0%{
			width: 90%;
			top: 0px;
			transform:rotate(0deg);
		}
		16.7%{
			width: 92%;
			top: 0px;
			transform:rotate(0deg);
		}
		33.4%{
			width: 92%;
			top: 0px;
			transform:rotate(-5deg);
		}
		50.1%{
			width: 92%;
			top: 0px;
			transform:rotate(0deg);
		}
		66.8%{
			width: 92%;
			top: 0px;
			transform:rotate(5deg);
		}
		100%{
			width: 90%;
			top: 0px;
			transform:rotate(0deg);
		}
	}
}

.mobi-nav{
	position: fixed;
	width: 100vw;
	height: 130px;
	background: @blue;
	text-align: center;
	z-index: 99 !important;
	border-bottom: 30px solid @light-blue;
	@media(min-width:992px){
		display: none;
	}
	.logo{
		position: relative;
		margin-top: 10px;
		z-index: 5 !important;
		@media(max-width:375px){
			margin-left: -40px;
		}
	}
	.menu-btn-container{
		position: absolute;
		height: auto;
		width: auto;
		display: block;
		top: 20px;
		right: 30px;
		z-index: 5 !important;
		p{
			position: absolute;
			color: white;
			text-transform: uppercase;
			right: -7px;
		}
		#top-bar{
			position: relative;
			height: 5px;
			width: 30px;
			background: white;
			margin-top: 0px;
		}
		#mid-bar{
			position: relative;
			height: 5px;
			width: 30px;
			background: white;
			margin-top: 5px;
		}
		#low-bar{
			position: relative;
			height: 5px;
			width: 30px;
			background: white;
			margin-top: 5px;
		}
		.hideBar{
			animation: .5s linear forwards alternate hideBar;
		}
		.topDown{
			position: absolute;
			animation: .5s linear forwards alternate topDown;
		}
		.topUp{
			position: absolute;
			animation: .5s linear forwards alternate topUp;
		}
		.lowUp{
			position: absolute;
			animation: .5s linear forwards alternate lowUp;
		}
		.lowDown{
			position: absolute;
			animation: .5s linear forwards alternate lowDown;
		}
		@keyframes topDown{
			0%{
				top: 0px;
				transform: rotate(0deg);
			}
			25%{
				top: 10px;
				transform: rotate(0deg);
			}
			50%{
				top: 10px;
				transform: rotate(0deg);
			}
			75%{
				top: 10px;
				transform: rotate(0deg);
			}
			100%{
				top: 10px;
				transform: rotate(45deg);
			}
		}
		@keyframes lowUp{
			0%{
				top: 0px;
				transform: rotate(0deg);
			}
			25%{
				top: -10px;
				transform: rotate(0deg);
			}
			50%{
				top: -10px;
				transform: rotate(0deg);
			}
			75%{
				top: -10px;
				transform: rotate(0deg);
			}
			100%{
				top: -10px;
				transform: rotate(-45deg);
			}
		}
		@keyframes topUp{
			0%{
				top: 10px;
				transform: rotate(45deg);
			}
			25%{
				top: 10px;
				transform: rotate(0deg);
			}
			50%{
				top: 10px;
				transform: rotate(0deg);
			}
			75%{
				top: 10px;
				transform: rotate(0deg);
			}
			100%{
				top: 0px;
				transform: rotate(0deg);
			}
		}
		@keyframes lowDown{
			0%{
				top: -10px;
				transform: rotate(-45deg);
			}
			25%{
				top: -10px;
				transform: rotate(0deg);
			}
			50%{
				top: -10px;
				transform: rotate(0deg);
			}
			75%{
				top: -10px;
				transform: rotate(0deg);
			}
			100%{
				top: 0px;
				transform: rotate(0deg);
			}
		}
		@keyframes hideBar{
			0%{
				visibility: visible;
			}
			25%{
				visibility: visible;
			}
			50%{
				visibility: visible;
			}
			75%{
				visibility: hidden;
			}
			100%{
				visibility: hidden;
			}
		}
	}
	.notes-container{
		position: absolute;
		width: 100vw;
		height: 100px;
		z-index: 1 !important;
		background: url(img/music-left.png) repeat;
		background-size: cover;
		overflow: hidden;
	}
}
.mobi-menu{
	position: fixed;
	top: 130px;
	height: 100vh;
	width: 100vw;
	background: @blue;
	z-index: 98 !important;
	text-align: center;
	padding-top: 60px;
	display: none;
	.mobi-link-container{
		position: relative;
		height: 290px; 
		overflow: auto;
		padding-bottom: 100px;
	}
	a{
		font-size: 24px;
		font-family: @replay;
		letter-spacing: .05em;
		color: white;
		text-decoration: none;
		text-transform: uppercase;
	}
}

.slider-container{
	position: relative;
	height: auto;
	width: 100vw;
	left: 0px;
	margin-top: 100px;
	z-index: 1 !important;
	.hero{
		position: relative;
		height: auto;
		width: 100vw;
		.item{
			img{
				width: 100vw;
				height: auto;
			}
			.text-container{
				position: absolute;
				bottom: 0px;
				width: 100%;
				height: auto;
				padding-top: 60px;
				padding-bottom: 50px;
				background: rgba(0,0,0,0.6);
				text-align: center;
				@media(min-width:992px) and (max-width:1199px){
					padding-top: 20px;
					padding-bottom: 30px;
				}
				h1{
					color: @yellow;
					text-transform: uppercase;
				}
				h2{
					font-family: @robotoCon;
					color: white;
					padding-top: 15px;
					padding-bottom: 30px;
					@media(min-width:992px) and (max-width:1199px){
						padding-top: 10px;
						padding-bottom: 20px
					}
				}
				.slider-btn{
					position: relative;
					font-size: 20px;
					font-family: @replay;
					letter-spacing: .05em;
					color: @yellow;
					padding: 5px 45px;
					background: @light-blue;
					border: 5px solid @yellow;
					border-radius: 25px;
					text-transform: uppercase;
					text-decoration: none;
					transition: .5s;
					@media(min-width:992px) and (max-width:1199px){
						font-size: 16px;
					}
					&:hover{
						border: 5px solid white; 
						background: @blue;
						color: white;
					}
				}
			}
		}
	}
}

.callout-container{
	height: auto;
	padding-top: 75px;
	padding-bottom: 75px;
	a{
		text-decoration: none;
		color: inherit;
	}
	.callout{
		text-align: center;
		.callout-img{
			width: 100%;
			height: auto;
			transition: .5s;
			&:hover{
				transform: scale(1.05);
			}
		}
		.title{
			color: @yellow;
			text-transform: uppercase;
		}
		.desc{
			font-size: 20px;
			@media(min-width:992px) and (max-width:1199px){
				font-size: 18px;
				line-height: 24px;
			}
			.fa{
				color: @light-blue;
			}
		}
	}
}

.seo-container{
	padding-top: 90px;
	padding-bottom: 110px;
	h2{
		color: @light-blue;
	}
	p{
		padding-top: 25px;
		padding-bottom: 25px;
	}
	ul,ol{
		padding-bottom: 25px;
	}
	h4{
		color: @light-blue;
		a{
			color: inherit;
			text-decoration: none;
			&:hover{
				text-decoration: underline;
				color: inherit;
			}
		}
	}
	.graphic{
		.img-responsive{
			@media(max-width:991px){
				position: relative;
				display: block;
				margin: 0 auto;
			}
		}
	}
}

.footer-container{
	width: 100vw;
	height: auto;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 20px;
	padding-bottom: 35px;
	background: @light-blue;
	.social-container{
		padding-top: 55px;
		padding-bottom: 65px;
		height: auto;
		width: auto;
		ul{
			padding: 0px;
			list-style: none;
			text-align: center;
			li{
				display: inline-block;
				margin-right: 25px;
				&:last-child{
					@media(max-width:767px){
						margin-right: 0px;
					}
				}
			}
		}
		.fa{
			font-size: 45px;
			color: @yellow;
			transition: color .5s;
			&:hover{
				color: white;
			}
		}
	}
	.footer-nav{
		width: 100%;
		height: auto;
		text-align: center;
		font-family: @replay;
		font-size: 16px;
		letter-spacing: .05em;
		@media(min-width:992px) and (max-width:1199px){
			font-size: 15px;
		}
		@media(min-width:768px) and (max-width:991px){
			font-size: 14px;
		}
		a{
			color: white;
			text-transform: uppercase;
			text-decoration: none;
			transition: color .5s;
			&:hover{
				color: @yellow;
			}
		}
		ul{
			padding: 0px;
			list-style: none;
			li{
				display: inline-block;
				margin-right: 55px;
				@media(min-width:992px) and (max-width:1199px){
					margin-right: 25px;
				}
				@media(min-width:768px) and (max-width:991px){
					margin-right: 10px;
				}
				@media(max-width:767px){
					margin-right: 0px;
					display: block;
					border-bottom: 1px solid @yellow;
					padding-top: 10px;
					padding-bottom: 10px;
					&:first-child{
						border-top: 1px solid @yellow;
					}
				}
				&:last-child{
					margin-right: 0px;
				}
			}
		}
	}
	.footer-copy{
		padding-top: 55px;
		text-align: center;
		color: white;
		font-size: 16px;
		@media(max-width:767px){
			padding-top: 40px;
		}
	}
}

.double-yellow{
	position: relative;
	width: 97%;
	height: 10px;
	margin: 0 auto;
	border-top: 2px solid @yellow;
	border-bottom: 2px solid @yellow;
}
.double-red{
	height: 40px;
	width: 100%;
	border-top: 8px solid @red;
	border-bottom: 8px solid @red;
	background: white;
}
.double-black{
	height: 25px;
	width: 100%;
	border-top: 4px solid black;
	border-bottom: 4px solid black;
	padding-top: 8px;
}
.single-yellow{
	height: 2px;
	width: 100%;
	background: @yellow;
}
.mod-container{
	position: relative;
	width: 80%;
	height: auto;
	margin: 0 auto;
	@media(max-width:767px){
		width: 100%;
	}
}